<%= form_with(model: diary, local: true, class: 'container mt-4') do |form| %>
  <%= form.hidden_field :pose_id, value: @pose&.id || @diary.pose.id %>
  <div class="mb-3 row">
    <%= form.label :date, class: 'form-label col-sm-2 col-form-label' %>
    <div class="col-sm-9">
      <%= form.text_field :date, value: @diary.date.strftime('%Y/%m/%d'), readonly: true, class: 'form-control-plaintext fs-5' %>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="form-label col-sm-2 col-form-label">ポーズ名</label>
    <div class="col-sm-9">
      <div class="fs-5 form-control-plaintext"><%= @pose&.japanese_name || @diary.pose.japanese_name %></div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :compatibility, 'ポーズとの相性', class: 'form-label' %>
    <div class="d-flex justify-content-start flex-wrap ms-3 gap-3">
      <%= enum_radio_buttons(form, :compatibility, Diary.compatibilities) %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :condition, '体調', class: 'form-label' %>
    <div class="d-flex justify-content-start flex-wrap ms-3 gap-3">
      <%= enum_radio_buttons(form, :condition, Diary.conditions) %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :feeling, '気分', class: 'form-label' %>
    <div class="d-flex justify-content-start flex-wrap ms-3 gap-3">
      <%= enum_radio_buttons(form, :feeling, Diary.feelings) %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :sleep, '睡眠', class: 'form-label' %>
    <div class="d-flex justify-content-start flex-wrap ms-3 gap-3">
      <%= enum_radio_buttons(form, :sleep, Diary.sleeps) %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :weight, '体重', class: 'form-label col-sm-3 col-form-label' %>
    <div class="col-sm-9 d-flex align-items-center">
      <%= form.text_field :weight, class: 'form-control' %>
      <span class="ms-2 fs-5">kg</span>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :memo, 'メモ', class: 'form-label col-sm-3 col-form-label' %>
    <div class="col-sm-9">
      <%= form.text_area :memo, class: 'form-control', maxlength: 150 %>
    </div>
  </div>
  <p>1日1回記録できます</p>

  <div class="container d-flex flex-column align-items-center">
    <%= form.submit '記録する', class: 'btn btn-outline-secondary btn-lg', data: {turbo: false} %>
  </div>
<% end %>
