<% content_for(:title, @diary.date) %>
<meta name="title" content="<%= yield(:title) %>">
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center"><%= @diary.date.strftime('%Y/%m/%d') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3">
              <strong>行ったポーズ</strong>
            </div>
            <div class="col-md-9 fs-4 ms-5">
              <p class="form-control-plaintext"><%= link_to @diary.pose.japanese_name,pose_path(@diary.pose) %></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong class="me-3">ポーズとの相性</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.compatibility) %>
              </p>
            </div>
            <div class="col">
              <strong>体調</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.condition) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>気分</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.feeling) %>
              </p>
            </div>
            <div class="col">
              <strong>睡眠</strong>
              <div class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.sleep) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>体重</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext">
                <% if @diary.weight.present? %>
                  <%= @diary.weight %>  kg
                <% end %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>メモ</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext"><%= @diary.memo %></p>
            </div>
          </div>
        </div>
      </article>
      <div class="d-flex  justify-content-end">
        <p class="mb-0 me-3">がんばりを</p>
        <% app_name="Yoga Diary" %>
        <% tweet_text="今日は#{@diary.pose.japanese_name} でリフレッシュ！ #YogaDiary " %>
        <% tweet_url=pose_url(@diary.pose) %>
        <%= link_to "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode(tweet_text)}&url=#{ERB::Util.url_encode(tweet_url)}", target: '_blank', style: 'text-decoration: none;' do %>  
          <i class="bi bi-twitter" style="font-size: 1.5em; color: #3399FF;"></i> シェア
        <% end %>
      </div>
    </div>
    <div class="container d-flex justify-content-center mt-4">
      <%= link_to 'My Diary', diaries_path, class: 'btn btn-outline-secondary btn-lg me-2' %>
      <%= link_to '編集する', edit_diary_path, class: 'btn btn-outline-secondary btn-lg' %>
    </div>
  </div>
</div>
