<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center"><%= @diary.date.strftime('%Y-%m-%d') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-md-3">
              <strong>行ったポーズ</strong>
            </div>
            <div class="col-md-9 fs-4 ms-5">
              <p class="form-control-plaintext"><%= @diary.pose.japanese_name %></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong class="me-3">ポーズとの相性</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.compatibility) %>
              </p>
            </div>
            <div class="col">
              <strong>体調</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.condition) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>気分</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.feeling) %>
              </p>
            </div>
            <div class="col">
              <strong>睡眠</strong>
              <div class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.sleep) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>体重</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext">
                <% if @diary.weight.present? %>
                  <%= @diary.weight %>  kg
                <% end %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>メモ</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext"><%= @diary.memo %></p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="container d-flex flex-column align-items-center">
      <%= link_to '戻る', diaries_path, class: 'btn btn-outline-secondary btn-lg' %>
      <%= link_to '編集する', edit_diary_path, class: 'btn btn-outline-secondary btn-lg' %>

    </div>
  </div>
</div>
