<% content_for(:title, @diary.date) %>
<meta name="title" content="<%= yield(:title) %>">
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center"><%= @diary.date.strftime('%Y/%m/%d') %></h1>
      <article class="card mt-4 mb-3">
        <div class="card-body">
          <div class="row mt-2 mb-3">
            <div class="col-md-3">
              <strong>行ったポーズ</strong>
            </div>
            <div class="col-md-9 fs-4 ms-5">
              <p class="form-control-plaintext">
                <%= link_to @diary.pose.japanese_name,pose_path(@diary.pose), style: "color: #333333;" %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong class="me-3">ポーズの完成度</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.compatibility) %>
              </p>
            </div>
            <div class="col">
              <strong>体調</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.condition) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>気分</strong>
              <p class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.feeling) %>
              </p>
            </div>
            <div class="col">
              <strong>睡眠</strong>
              <div class="form-control-plaintext ms-5">
                <%= enum_icon(@diary.sleep) %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>体重</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext">
                <% if @diary.weight.present? %>
                  <%= @diary.weight %>  kg
                <% end %>
              </p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <strong>メモ</strong>
            </div>
            <div class="col-md-9 ms-4">
              <p class="form-control-plaintext"><%= @diary.memo %></p>
            </div>
          </div>
        </div>
      </article>
      <div class="d-flex justify-content-end align-items-center">
        がんばりを 
        <% app_name="Yoga Diary" %>
        <% tweet_text="今日は#{@diary.pose.japanese_name} でリフレッシュ！ #YogaDiary " %>
        <% tweet_url=pose_url(@diary.pose) %>
        <%= link_to "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode(tweet_text)}&url=#{ERB::Util.url_encode(tweet_url)}", target: '_blank', class: 'custom-link' do %>  
          <i class="fa-brands fa-square-x-twitter" style="font-size: 1.5em;"></i> シェア
        <% end %>
      </div>
    </div>
    <div class="container d-flex justify-content-center pt-5 pb-3">
      <%= link_to 'My Diary', diaries_path, class: 'btn btn-outline-secondary btn-lg me-2' %>
      <%= link_to '編集する', edit_diary_path, class: 'btn btn-outline-secondary btn-lg' %>
    </div>
  </div>
</div>
