<div class="container mb-4">
  <!-- ポーズ名を上部中央に表示 -->
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1><%= @pose.japanese_name %></h1>
    </div>
  </div>

  <div class="row mt-4 mb-2">
    <div class="col-md-6 d-flex align-items-center justify-content-center mb-3">
      <%= image_tag @pose.image, class: "img-fluid fixed-size" %>
    </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">効果</h5>
        <p class="card-text"><%= @pose.benefit %></p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">やりかた</h5>
        <p class="card-text"><%= simple_format(@pose.description.gsub("\n", "<br>")) %></p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Tip</h5>
        <p class="card-text"><%= simple_format(@pose.tip.gsub("\n", "<br>")) %></p>
      </div>
    </div>
  </div>
</div>
<h5 class="text-center mt-4">yogaは完璧を求める必要はありません！<br>無理をせず、ちょっとだけがんばってみましょう♡</h5>
<% if user_signed_in? %>
  <div class="container d-flex flex-column align-items-center mt-3">
    <p class="text-center">今日のがんばりを記録しよう!</p>
    <%= link_to "登録", new_diary_path(pose_id: @pose.id), class: "btn btn-outline-secondary btn-lg mt-2" %>
  </div>
<% else %>
  <div class="container d-flex flex-column align-items-center">
    <p>まずはLINEでログインして、今日のがんばりを記録しよう！</p>
    <%= button_to "LINE Login", user_line_omniauth_authorize_path(pose_id: @pose.id), method: :post, data: { turbo: false }, class: "btn btn-outline-secondary btn-lg" %>
  </div>
<% end %>
